<form>
  <!-- chat room container -->
  <div id="textBox" contenteditable="false" name="textBox">
  </div>
  <!-- chat room container -->
  <div id="chatroom" name="chatroom" placeholder="Chat with me please" readonly>
    <!-- 
****************************************************************************
Sample Chat Posts should be deleted befor adding to handlebars. 
****************************************************************************
-->
    {{#each chatTB}}
    {{#if this.authorShip}}
    <div id="message-div" class="user-two">
      <p class="font-weight-bold my-0 user">{{this.User.username}}</p>
      <p class="my-0">{{this.message}}</p>
    </div>
    {{else}}
    <div id="message-div" class="user-one">
      <p class="font-weight-bold my-0 user">{{this.User.username}}</p>
      <p class="my-0">{{this.message}}</p>
    </div>
    {{/if}}
    {{/each}}
    <!-- End -->

  </div>
  <br>
  <!-- chat post message container -->
  <textarea maxlength="144" id="message" name="chatmsg" placeholder=" Add your message here "></textarea>
  <!-- chat post submit button -->
  <input id="send-btn" name="save" value=" P O S T " />
</form>